<div ng-show="message" class="alert alert-danger" role="alert">{{message}}</div>

<div class="row" ng-controller="ProfileController">
    <div class="col-lg-8">
        <div class="card">
            <div class="header">
                <h2 class="title">Profile</h2>
            </div>
            <div class="content">
                <form>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input ng-model="model.currentUser.username" type="text" class="form-control" id="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input ng-model="model.currentUser.password" type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input ng-model="model.currentUser.email" type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input ng-model="model.currentUser.firstName" type="text" class="form-control" id="firstName" placeholder="eg. Bob">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input ng-model="model.currentUser.lastName" type="text" class="form-control" id="lastName" placeholder="eg. Burner">
                    </div>
                    <br>
                    <button ng-click="model.update(model.currentUser)" type="submit" class="btn btn-default">Update</button>
                </form>
            </div>
        </div>

    </div>
</div>



