<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div ng-show="message" class="alert alert-danger" role="alert">{{message}}</div>

    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="model.user.username" type="text" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input ng-model="model.user.email" type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input ng-model="model.user.firstName" type="text" class="form-control" id="firstName" placeholder="First Name">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input ng-model="model.user.lastName" type="text" class="form-control" id="lastName" placeholder="Last Name">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input ng-model="model.user.password" type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="password2">Verify Password</label>
            <input ng-model="model.user.password2" type="password" class="form-control" id="password2" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="typeOfUser">Are You a Creating or Joining a Game?</label>
            <fieldset id="typeOfUser">
                <label>
                    <input type="radio" ng-model="model.user.type" value="admin">
                    Creating
                </label>
                <label>
                    <input type="radio" ng-model="model.user.type" value="player">
                    Joining
                </label><br/>
            </fieldset>
        </div>
        <div class="form-group" ng-show="model.user.type === 'player'">
            <div class="form-group">
                <label for="game_name">Game name you would like to join</label>
                <input ng-model="model.user.game_name" type="text" class="form-control" id="game_name" placeholder="game name">
            </div>
        </div>
        <button ng-click="model.register(model.user)" type="submit" class="btn btn-success btn-block">Register</button>
    </form>
</div>
