<div ng-show="message" class="alert alert-danger" role="alert">{{message}}</div>
<div class="col-lg-10">
    <div class="card">
        <div class="header">
            <h2 class="title">
                Register
            </h2>
            <div class="content">
                <form>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input ng-model="model.user.username" type="text" class="form-control" id="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input ng-model="model.user.email" type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input ng-model="model.user.firstName" type="text" class="form-control" id="firstName" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input ng-model="model.user.lastName" type="text" class="form-control" id="lastName" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input ng-model="model.user.password" type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="password2">Verify Password</label>
                        <input ng-model="model.user.password2" type="password" class="form-control" id="password2" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="typeOfUser">Are You a Creating or Joining a Game?</label>
                        <fieldset id="typeOfUser">
                            <label>
                                <input type="radio" ng-model="model.user.role" value="admin">
                                Creating
                            </label>
                            <label>
                                <input type="radio" ng-model="model.user.role" value="player">
                                Joining
                            </label><br/>
                        </fieldset>
                    </div>
                    <div class="form-group" ng-show="model.user.role === 'player'">
                        <div class="form-group">
                            <label for="game_name">Game name you would like to join</label>
                            <input ng-model="model.user.gameName" type="text" class="form-control" id="game_name" placeholder="game name">
                        </div>
                    </div>
                    <div ng-show="model.user.role === 'admin'">
                        <div class="form-group">
                            <label for="game_title">Game Title</label>
                            <input ng-model="model.game.title" type="text" class="form-control" id="game_title" placeholder="Title">
                        </div>
                        <div class="form-group">
                            <label for="num_players">Select the Maximum Number of Players</label> <br>
                            <div class="btn-group" id="num_players" data-toggle="buttons">
                                <label class="btn btn-default blue">
                                    <input ng-model="model.game.num_players" type="radio" class="toggle" value="1">1
                                </label>
                                <label class="btn btn-default blue">
                                    <input ng-model="model.game.num_players" type="radio" class="toggle" value="2"> 2
                                </label>
                                <label class="btn btn-default blue">
                                    <input ng-model="model.game.num_players" type="radio" class="toggle" value="3"> 3
                                </label>
                                <label class="btn btn-default blue">
                                    <input ng-model="model.game.num_players" type="radio" class="toggle" value="5"> 5
                                </label>
                                <label class="btn btn-default blue">
                                    <input ng-model="model.game.num_players" type="radio" class="toggle" value="10"> 10
                                </label>
                                <label class="btn btn-default blue">
                                    <input ng-model="model.game.num_players" type="radio" class="toggle" value="15"> 15
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="duration">Select the Game Duration</label> <br>
                            <div class="btn-group" id="duration" data-toggle="buttons">
                                <label class="btn btn-default blue">
                                    <input ng-model="model.game.duration" type="radio" class="toggle" value="5">5
                                </label>
                                <label class="btn btn-default blue">
                                    <input ng-model="model.game.duration" type="radio" class="toggle" value="10"> 10
                                </label>
                                <label class="btn btn-default blue">
                                    <input ng-model="model.game.duration" type="radio" class="toggle" value="15"> 15
                                </label>
                                <label class="btn btn-default blue">
                                    <input ng-model="model.game.duration" type="radio" class="toggle" value="20"> 20
                                </label>
                                <label class="btn btn-default blue">
                                    <input ng-model="model.game.duration" type="radio" class="toggle" value="25"> 25
                                </label>
                                <label class="btn btn-default blue">
                                    <input ng-model="model.game.duration" type="radio" class="toggle" value="30"> 30
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="universe_size">Select the Number of Stocks in the Game</label> <br>
                            <div class="btn-group" id="universe_size" data-toggle="buttons">
                                <label class="btn btn-default blue">
                                    <input ng-model="model.game.universe_size" type="radio" class="toggle" value="20">20
                                </label>
                                <label class="btn btn-default blue">
                                    <input ng-model="model.game.universe_size" type="radio" class="toggle" value="30"> 30
                                </label>
                                <label class="btn btn-default blue">
                                    <input ng-model="model.game.universe_size" type="radio" class="toggle" value="40"> 40
                                </label>
                                <label class="btn btn-default blue">
                                    <input ng-model="model.game.universe_size" type="radio" class="toggle" value="50"> 50
                                </label>
                                <label class="btn btn-default blue">
                                    <input ng-model="model.game.universe_size" type="radio" class="toggle" value="100"> 100
                                </label>
                                <label class="btn btn-default blue">
                                    <input ng-model="model.game.universe_size" type="radio" class="toggle" value="150"> 150
                                </label>
                            </div>
                        </div>
                    </div>
                    <button ng-click="model.register(model.user)" type="submit" class="btn btn-success">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>

