<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h3>Games:</h3>
                </div>
                <div class="content">
                    <table class="table table-striped table-responsive" ng-controller="ManageController">
                        <thead>
                        <tr>
                            <th nowrap="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" min-height="7" min-width="9">
                                    <path d="M8.33,0L4,7.5L-0.33,0H8.33z" min-width="9" min-height="8" fill="#000000"></path>
                                </svg>
                                Title
                            </th>
                            <th nowrap="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" min-height="7" min-width="9">
                                    <path d="M8.33,0L4,7.5L-0.33,0H8.33z" min-width="9" min-height="8" fill="#000000"></path>
                                </svg>
                                Status
                            </th>
                            <th nowrap="">
                                Join Game
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="game in model.games">
                            <td>{{game.title}}</td>
                            <td>{{game.status}}</td>
                            <td>
                                <form>
                                    <button ng-click="model.joinGame($index)" class="btn btn-success">
                                        <scan class="fa fa-plus-square"></scan>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

