<div class="col-lg-12">
    <div class="card">
        <div class="header">
            <h2>{{model.gameName}}'s Ranking:</h2>
        </div>
        <div class="content">
            <table class="table table-striped table-responsive" ng-controller="RankingController">
                <thead>
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Invested Equity</th>
                    <th>Cash Remaining</th>
                    <th>Total Return</th>
                    <th>Relative Return to the S&P500</th>
                    <th>Sharpe Ratio</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="rank in model.ranking">
                    <td>{{rank.rank}}</td>
                    <td>{{rank.username}}</td>
                    <td>${{rank.investedEquity | number:2}}</td>
                    <td>${{rank.cashRemaining | number:2}}</td>
                    <td>{{rank.totalReturn | number:0}}%</td>
                    <td>{{rank.relativeReturn | number:0}}%</td>
                    <td>{{rank.sharpeRatio | number:2}}</td>
                    <td>{{rank.status}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-show="model.status === 'over'" class="footer">
            <button class="btn btn-warning" ng-click="restart()">Restart Game</button>
            <button class="btn btn-danger" ng-click="leaveGame()">Leave Game</button>
        </div>
    </div>
</div>