<h2>Companies</h2>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#/admin/companies">Companies</a></li>
    <li role="presentation" ><a href="#/admin/users">Users</a></li>
    <li role="presentation" ><a href="#/admin/games">Games</a></li>
    <li role="presentation" ><a href="#/admin/trades">Portfolios</a></li>
</ul>
<table class="table table-striped table-responsive" ng-controller="AdminCompaniesController">
    <thead>
    <tr>
        <th>
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" min-height="7" min-width="9">
                <path d="M8.33,0L4,7.5L-0.33,0H8.33z" min-width="9" min-height="8" fill="#000000"></path>
            </svg>
            Name
        </th>
        <th>
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" min-height="7" min-width="9">
                <path d="M8.33,0L4,7.5L-0.33,0H8.33z" min-width="9" min-height="8" fill="#000000"></path>
            </svg>
            Price
        </th>
        <th>
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" min-height="7" min-width="9">
                <path d="M8.33,0L4,7.5L-0.33,0H8.33z" min-width="9" min-height="8" fill="#000000"></path>
            </svg>
            Market Cap
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <form action="">
                <input placeholder="name" type="text" class="form-control">
            </form>
        </td>
        <td>
            <form action="">
                <input placeholder="price" type="text" class="form-control">
            </form>
        </td>
        <td>
            <form action="">
                <input placeholder="market cap" type="text" class="form-control">
            </form>
        </td>
        <td nowrap="">
            <form>
                <button ng-click="updateCompany(company)" class="btn btn-success glyphicon glyphicon-ok"></button>
                <button ng-click="addCompany(company)" class="btn btn-primary glyphicon glyphicon-plus"></button>
            </form>
        </td>
    </tr>
    <tr ng-repeat="company in companies">
        <td>{{company.name}}</td>
        <td>{{company.price}}</td>
        <td>{{company.market_cap}}</td>
        <td>
            <form nowrap="">
                <button ng-click="deleteCompany(company)" class="btn btn-danger glyphicon glyphicon-remove"></button>
                <button ng-click="selectCompany(index)" class="btn btn-warning glyphicon glyphicon-pencil"></button>
            </form>
        </td>
    </tr>
    </tbody>
</table>