<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li ng-class="{'active' : $location.url().indexOf('home') != -1}">
            <a href="#/home">Home</a></li>
        <li ng-show="currentUser"
            ng-class="{'active' : $location.url().indexOf('profile') != -1}">
            <a href="#/profile">Profile</a></li>
        <li ng-show="currentUser.roles === 'player'"
            ng-class="{'active' : $location.url().indexOf('portfolio') != -1}">
            <a href="#/portfolio">Portfolio</a></li>
        <li ng-show="currentUser.roles === 'player'"
            ng-class="{'active' : $location.url().indexOf('trading') != -1}">
            <a href="#/trading">Trading</a></li>
        <li ng-show="currentUser.roles === 'admin'"
            ng-class="{'active' : $location.url().indexOf('create') != -1}">
            <a href="#/create">Create a Game</a></li>
        <li ng-show="currentUser.roles === 'admin'"
            ng-class="{'active' : $location.url().indexOf('manage') != -1}">
            <a href="#/manage">Manage Games</a></li>
        <li ng-show="currentUser.roles === 'admin'"
            ng-class="{'active' : $location.url().indexOf('admin') != -1}">
            <a href="#/admin/users">Admin</a></li>
    </ul>
</div>