<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="container-fluid" ng-controller="PortfolioController">
        <div class="row">
            <div class="col-md-2">
                <h2>{{currentUser.firstName}}'s Portfolio</h2>
            </div>
            <div class="col-md-2">
                <br>
                <button type="submit" ng-click="advance()" class="btn btn-success">Advance to Next Round</button>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <label for="summary">Portfolio Summary:</label>
                    <table id="summary" class="table table-striped table-responsive">
                        <thead>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Cash Remaining</td>
                            <td>{{model.currentPortfolio.cash_remaining}}</td>
                        </tr>
                        <tr>
                            <td>Invested Equity</td>
                            <td>80,000.00</td>
                        </tr>
                        <tr>
                            <td>Current Turn</td>
                            <td>{{model.currentPortfolio.currentTurn}}</td>
                        </tr>
                        <tr>
                            <td>Relative Return</td>
                            <td>24.5%</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <label for="returnsChart">Relative Return per Turn:</label>
                    <canvas id="returnsChart" height="50%" width="100%"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label for="holdings">Portfolio Holdings:</label>
                    <table id="holdings" class="table table-striped table-responsive">
                        <thead>
                        <tr>
                            <th>Company Name</th>
                            <th>Number of Shares</th>
                            <th>Current Price</th>
                            <th>Price Paid</th>
                            <th>Total Return</th>
                            <th>Total Value</th>
                            <th>Weights</th>
                            <th>Buy/Sell</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="company in model.summaryTable">
                            <td><a ng-href="#/companies/{{company._id}}">{{company._id}}</a></td>
                            <td>{{company.shares}}</td>
                            <td>{{company.prices}}</td>
                            <td>{{company.price_paid}}</td>
                            <td>{{company.return}}</td>
                            <td>{{company.total_value}}</td>
                            <td>{{company.weight}}</td>
                            <td nowrap>
                                <a href="#" class="btn btn-primary">
                                    <scan class="glyphicon glyphicon-plus"></scan>
                                </a>
                                <a href="#" class="btn btn-danger">
                                    <scan class="glyphicon glyphicon-remove"></scan>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>
