<div class="container-fluid" ng-controller="PortfolioController">
    <div ng-show="failureMessage" class="alert alert-danger" role="alert">{{model.failureMessage}}</div>
    <div ng-show="successMessage" class="alert alert-success" role="alert">{{model.successMessage}}</div>
    <div class="row">
        <div class="card">
            <div class="header">
                <h2 class="title">
                    {{currentUser.firstName}}'s Portfolio
                    <button ng-hide="model.currentPortfolio.currentTurn === 9" type="submit" ng-click="model.advance()" class="btn btn-success">Advance to Next Round</button>
                    <button ng-show="model.currentPortfolio.currentTurn === 9" type="submit" ng-click="model.endGame()" class="btn btn-success">Last Turn Press to End</button>
                </h2>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Portfolio Summary:</h4>
                            </div>
                            <div class="content">
                                <table class="table table-striped table-responsive">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Initial Portfolio Value</td>
                                        <td>${{1000 | number:2}}</td>
                                    </tr>
                                    <tr>
                                        <td>Cash Remaining</td>
                                        <td>${{model.currentPortfolio.cash_remaining | number:2}}</td>
                                    </tr>
                                    <tr>
                                        <td>Invested Equity</td>
                                        <td>${{model.totalEquity | number:2}}</td>
                                    </tr>
                                    <tr>
                                        <td>Current Turn</td>
                                        <td>{{model.currentPortfolio.currentTurn | number:0}}</td>
                                    </tr>
                                    <tr>
                                        <td>Portfolio Return</td>
                                        <td>{{((model.currentPortfolio.cash_remaining + model.totalEquity) / 1000 - 1)* 100 | number:2}}%</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Relative Return per Turn:</h4>
                            </div>
                            <div class="content">
                                <div id="returnsChart" style="width: 100%; height: 230px;" ></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Portfolio Holdings:</h4>
                            </div>
                            <div class="content">
                                <table class="table table-striped table-responsive">
                                    <thead>
                                    <tr>
                                        <th>Company Name</th>
                                        <th>Number of Shares</th>
                                        <th>Current Price</th>
                                        <th>Price Paid</th>
                                        <th>Total Return</th>
                                        <th>Total Value</th>
                                        <th>Weights</th>
                                        <th>Buy/Sell</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="company in model.summaryTable">
                                        <td><a ng-href="#/companies/{{company.name}}/{{model.currentPortfolio.currentTurn}}">{{company.name}}</a></td>
                                        <td>{{company.shares | number:0}}</td>
                                        <td>${{company.prices[model.currentPortfolio.currentTurn] | number:2}}</td>
                                        <td>${{company.price_paid | number:2}}</td>
                                        <td>{{company.return}}%</td>
                                        <td>${{company.total_value | number:2}}</td>
                                        <td>{{(company.total_value / (model.currentPortfolio.cash_remaining + model.totalEquity)) * 100 | number:2}}%</td>
                                        <td nowrap>
                                            <a ng-click="model.buy($index)" class="btn btn-primary">
                                                <scan class="fa fa-plus"></scan>
                                            </a>
                                            <a ng-click="model.sell($index)" class="btn btn-danger">
                                                <scan class="fa fa-remove"></scan>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>