<div class="modal-body">
    <div ng-show="failureMessage" class="alert alert-danger" role="alert">{{failureMessage}}</div>
    <div ng-show="successMessage" class="alert alert-success" role="alert">{{successMessage}}</div>
    <div class="card">
        <div class="header">
            <h4 class="title">Trade:</h4>
        </div>
        <div class="content">
            <table class="table table-striped table-responsive">
                <thead>
                <tr>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Company Name:</td>
                    <td>
                        <input ng-model="model.selectedCompany.name" placeholder="name" type="text" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td>
                        {{model.selectedCompany.currentPrice | number:2}}
                    </td>
                </tr>
                <tr>
                    <td>Shares to be purchased/sold</td>
                    <td>
                        <input ng-model="model.selectedCompany.shares" placeholder="# of shares" type="number" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td>Total Amount $</td>
                    <td>
                        {{model.selectedCompany.currentPrice * model.selectedCompany.shares | number:2}}
                    </td>
                </tr>
                <tr>
                    <td>Buy/Sell</td>
                    <td>
                        <label>
                            <input type="radio" ng-model="model.selectedCompany.tradeType" value="Buy">
                            Buy
                        </label>
                        <label>
                            <input type="radio" ng-model="model.selectedCompany.tradeType" value="Sell">
                            Sell
                        </label><br/>
                    </td>
                </tr>
                <tr>
                    <td>Submit Trade</td>
                    <td>
                        <button type="submit" ng-click="model.refresh(model.selectedCompany)" class="btn btn-default">Refresh</button>
                        <button type="submit" ng-click="model.trade(model.selectedCompany)" class="btn btn-success">Execute!</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <div class="header">
            <h4 class="title">Portfolio Summary:</h4>
        </div>
        <div class="content">
            <table class="table table-striped table-responsive">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Cash Remaining</td>
                    <td>{{model.currentPortfolio.cash_remaining | number:2}}</td>
                </tr>
                <tr>
                    <td>Current Turn</td>
                    <td>{{model.currentPortfolio.currentTurn | number:0}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

