<div class="container-fluid" ng-controller="TradingController">
    <div ng-show="showFailureMessage" class="alert alert-danger" role="alert">{{failureMessage}}</div>
    <div ng-show="successMessage" class="alert alert-success" role="alert">{{successMessage}}</div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title"> Companies Available to Trade: </h4>
                </div>
                <div class="content">
                    <table class="table table-striped table-responsive">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Market Cap</th>
                            <th>Price</th>
                            <th>P/E</th>
                            <th>P/B</th>
                            <th>EV/EBITDA</th>
                            <th>Buy/Short</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="company in model.companies">
                            <td><a ng-href="#/companies/{{company.identifier}}/{{model.currentTurn}}/{{company.generated_name}}/{{model.currentPortfolio._id}}">{{company.generated_name}}</a></td>
                            <td>${{company.summary.market_cap[model.currentTurn]| number:2}}</td>
                            <td>${{company.summary.current_price[model.currentTurn]| number:2}}</td>
                            <td>{{company.summary.p_e[model.currentTurn]| number:2}}x</td>
                            <td>{{company.summary.p_b[model.currentTurn]| number:2}}x</td>
                            <td>{{company.valuation.ev_ebitda[model.currentTurn]| number:2}}x</td>
                            <td nowrap>
                                <button ng-click="model.buy($index)" class="btn btn-primary">
                                    <scan class="fa fa-plus"></scan>
                                </button>
                                <button ng-click="model.sell($index)" class="btn btn-danger">
                                    <scan class="fa fa-minus"></scan>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
