<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="container-fluid" ng-controller="TradingController">
        <div ng-show="message" class="alert alert-danger" role="alert">{{model.failureMessage}}</div>
        <div ng-show="message" class="alert alert-success" role="alert">{{model.successMessage}}</div>
        <h2>Trading</h2>
        <div class="row">
            <div class="col-md-4">
                <label for="holdings">Trade:</label>
                <table class="table table-striped table-responsive">
                    <thead>
                    <tr>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Company Name:</td>
                        <td>
                            <input ng-model="model.selectedCompany.name" placeholder="name" type="text" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>Price:</td>
                        <td>
                            {{model.selectedCompany.currentPrice}}
                        </td>
                    </tr>
                    <tr>
                        <td>Shares to be purchased/sold</td>
                        <td>
                            <input ng-model="model.selectedCompany.shares" placeholder="# of shares" type="number" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>Total Amount $</td>
                        <td>
                            {{model.selectedCompany.currentPrice * model.selectedCompany.shares}}
                        </td>
                    </tr>
                    <tr>
                        <td>Buy/Sell</td>
                        <td>
                            <label>
                                <input type="radio" ng-model="model.selectedCompany.tradeType" value="Buy">
                                Buy
                            </label>
                            <label>
                                <input type="radio" ng-model="model.selectedCompany.tradeType" value="Sell">
                                Sell
                            </label><br/>
                        </td>
                    </tr>
                    <tr>
                        <td>Submit Trade</td>
                        <td>
                            <button type="submit" ng-click="model.refresh(model.selectedCompany)" class="glyphicon glyphicon-refresh btn btn-default"></button>
                            <button type="submit" ng-click="model.trade(model.selectedCompany)" class="btn btn-success">Execute!</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <label for="holdings"> Companies Available to Trade: </label>
                <table id="holdings" class="table table-striped table-responsive">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Market Cap</th>
                        <th>Price</th>
                        <th>P/E</th>
                        <th>P/B</th>
                        <th>EV/EBITDA</th>
                        <th>Buy/Short</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="company in model.companies">
                        <<td><a ng-href="#/companies/{{company.generated_name}}/{{model.currentTurn}}">{{company.generated_name}}</a></td>
                        <td>{{company.summary.market_cap[model.currentTurn]}}</td>
                        <td>{{company.summary.current_price[model.currentTurn]}}</td>
                        <td>{{company.summary.p_e[model.currentTurn]}}</td>
                        <td>{{company.summary.p_b[model.currentTurn]}}</td>
                        <td>{{company.valuation.ev_ebitda[model.currentTurn]}}</td>
                        <td nowrap>
                            <button ng-click="model.buy($index)" class="btn btn-primary">
                                <scan class="glyphicon glyphicon-plus"></scan>
                            </button>
                            <button ng-click="model.sell($index)" class="btn btn-danger">
                                <scan class="glyphicon glyphicon-minus"></scan>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
