<h2>Sales Margins & Turns</h2>
<ul class="nav nav-tabs">
    <li role="presentation" ><a href="#/summary">Summary</a></li>
    <li role="presentation" class="active"><a href="#/smt">SMT</a></li>
    <li role="presentation" ><a href="#/valuation">Valuation</a></li>
    <li role="presentation" ><a href="#/momentum">Momentum</a></li>
    <li role="presentation" ><a href="#/reports">Reports</a></li>
</ul>

<div class="container-fluid" ng-controller="SmtController">
    <h2>(Company Name Here)</h2>
    <br>
    <div class="row">
        <div class="col-md-6">
            <label for="canvas4">Return on Invested Capital:</label>
            <canvas id="canvas4" height="40%" width="100%"></canvas>
        </div>
        <div class="col-md-6">
            <label for="canvas6">Revenue Growth:</label>
            <canvas id="canvas6" height="40%" width="100%"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-md-6">
                <label for="canvas5">Real Asset Growth Rate:</label>
                <canvas id="canvas5" height="40%" width="100%"></canvas>
        </div>
            <div class="col-md-6">
                <label for="canvas7">EBITDA Margins:</label>
                <canvas id="canvas7" height="40%" width="100%"></canvas>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <label for="canvas8">Asset Turns:</label>
            <canvas id="canvas8" height="40%" width="100%"></canvas>
        </div>
    </div>
    <button type="submit" ng-click="trade()" class="btn btn-success">Trade this company</button>
</div>