<h2>Games</h2>
<ul class="nav nav-tabs">
    <li role="presentation" ><a href="#/admin/users">Users</a></li>
    <li role="presentation" class="active"><a href="#/admin/games">Games</a></li>
    <li role="presentation" ><a href="#/admin/portfolios">Portfolios</a></li>
    <li role="presentation" ><a href="#/admin/companies">Companies</a></li>
</ul>
<table class="table table-striped table-responsive" ng-controller="AdminGamesController">
    <thead>
    <tr>
        <th nowrap="">
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" min-height="7" min-width="9">
                <path d="M8.33,0L4,7.5L-0.33,0H8.33z" min-width="9" min-height="8" fill="#000000"></path>
            </svg>
            ID
        </th>
        <th nowrap="">
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" min-height="7" min-width="9">
                <path d="M8.33,0L4,7.5L-0.33,0H8.33z" min-width="9" min-height="8" fill="#000000"></path>
            </svg>
            Title
        </th>
        <th nowrap="">
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" min-height="7" min-width="9">
                <path d="M8.33,0L4,7.5L-0.33,0H8.33z" min-width="9" min-height="8" fill="#000000"></path>
            </svg>
            Owner ID
        </th>
        <th nowrap="">
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" min-height="7" min-width="9">
                <path d="M8.33,0L4,7.5L-0.33,0H8.33z" min-width="9" min-height="8" fill="#000000"></path>
            </svg>
            Players in Game
        </th>
        <th nowrap="">
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" min-height="7" min-width="9">
                <path d="M8.33,0L4,7.5L-0.33,0H8.33z" min-width="9" min-height="8" fill="#000000"></path>
            </svg>
            Duration
        </th>
        <th nowrap="">
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" min-height="7" min-width="9">
                <path d="M8.33,0L4,7.5L-0.33,0H8.33z" min-width="9" min-height="8" fill="#000000"></path>
            </svg>
            Number of Companies
        </th>
        <th nowrap="">
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" min-height="7" min-width="9">
                <path d="M8.33,0L4,7.5L-0.33,0H8.33z" min-width="9" min-height="8" fill="#000000"></path>
            </svg>
            Current Turn
        </th>
        <th>
            Action
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td nowrap="">
            <form>
                <input ng-model="model.game.title" placeholder="title" type="text" class="form-control">
            </form>
        </td>
        <td nowrap="">
            <form>
                <input ng-model="model.game.userId" placeholder="owner id" type="text" class="form-control">
            </form>
        </td>
        <td>
            <form>
                <input ng-model="model.game.players" placeholder="players" type="text" class="form-control">
            </form>
        </td>
        <td nowrap="">
            <form>
                <input ng-model="model.game.duration" placeholder="duration" type="text" class="form-control">
            </form>
        </td>
        <td nowrap="">
            <form>
                <input ng-model="model.game.universe" placeholder="number of companies" type="text" class="form-control">
            </form>
        </td>
        <td nowrap="">
            <form>
                <input ng-model="model.game.currentTurn" placeholder="current turn" type="text" class="form-control">
            </form>
        </td>
        <td nowrap="">
            <form>
                <button ng-click="model.updateGame(model.game)" class="btn btn-success">
                    <scan class="fa fa-check"></scan>
                </button>
                <button ng-click="model.addGame(model.game)" href="#" class="btn btn-primary">
                    <scan class="fa fa-plus"></scan>
                </button>
            </form>
        </td>
    </tr>
    <tr ng-repeat="game in model.games">
        <td>{{game._id}}</td>
        <td>{{game.title}}</td>
        <td>{{game.userId}}</td>
        <td>{{game.players}}</td>
        <td>{{game.duration}}</td>
        <td>{{game.universe}}</td>
        <td>{{game.currentTurn}}</td>
        <td>
            <form>
                <button ng-click="model.deleteGame(game)" class="btn btn-danger">
                    <scan class="fa fa-remove"></scan>
                </button>
                <button ng-click="model.selectGame($index)" class="btn btn-warning">
                    <scan class="fa fa-pencil"></scan>
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
