<table class="table table-striped table-responsive" ng-controller="AdminController">
    <thead>
    <tr>
        <th>
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" min-height="7" min-width="9">
                <path d="M8.33,0L4,7.5L-0.33,0H8.33z" min-width="9" min-height="8" fill="#000000"></path>
            </svg>
            Username
        </th>
        <th>
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" min-height="7" min-width="9">
                <path d="M8.33,0L4,7.5L-0.33,0H8.33z" min-width="9" min-height="8" fill="#000000"></path>
            </svg>
            Password
        </th>
        <th>
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" min-height="7" min-width="9">
                <path d="M8.33,0L4,7.5L-0.33,0H8.33z" min-width="9" min-height="8" fill="#000000"></path>
            </svg>
            Role
        </th>
        <th>
            Action
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <form action="../forms/fields.view.html">
                <input placeholder="username" type="text" class="form-control">
            </form>
        </td>
        <td>
            <form action="../forms/fields.view.html">
                <input placeholder="password" type="text" class="form-control">
            </form>
        </td>
        <td>
            <form action="../forms/fields.view.html">
                <input placeholder="role" type="text" class="form-control">
            </form>
        </td>
        <td nowrap="">
            <form action="../forms/fields.view.html">
                <a href="#" class="btn btn-success">
                    <scan class="glyphicon glyphicon-ok"></scan>
                </a>
                <a href="#" class="btn btn-primary">
                    <scan class="glyphicon glyphicon-plus"></scan>
                </a>
            </form>
        </td>
    </tr>
    <tr ng-repeat="user in users">
        <td>{{user.username}}</td>
        <td>{{user.password}}</td>
        <td>{{user.roles}}</td>
        <td>
            <form action="../forms/fields.view.html">
                <a href="#" class="btn btn-danger">
                    <scan class="glyphicon glyphicon-remove"></scan>
                </a>
                <a href="#" class="btn btn-warning">
                    <scan class="glyphicon glyphicon-pencil"></scan>
                </a>
            </form>
        </td>
    </tr>
    </tbody>
</table>

