<h2>Forms</h2>
<ul class="nav nav-tabs">
    <li role="presentation" ><a href="#/admin">Users</a></li>
    <li role="presentation" class="active"><a href="#/admin/forms">Forms</a></li>
    <li role="presentation" ><a href="#/admin/fields">Fields</a></li>
</ul>
<table class="table table-striped table-responsive" ng-controller="AdminFormsController">
    <thead>
    <tr>
        <th>
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" min-height="7" min-width="9">
                <path d="M8.33,0L4,7.5L-0.33,0H8.33z" min-width="9" min-height="8" fill="#000000"></path>
            </svg>
            ID
        </th>
        <th>
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" min-height="7" min-width="9">
                <path d="M8.33,0L4,7.5L-0.33,0H8.33z" min-width="9" min-height="8" fill="#000000"></path>
            </svg>
            Owner ID
        </th>
        <th>
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" min-height="7" min-width="9">
                <path d="M8.33,0L4,7.5L-0.33,0H8.33z" min-width="9" min-height="8" fill="#000000"></path>
            </svg>
            Title
        </th>
        <th>
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" min-height="7" min-width="9">
                <path d="M8.33,0L4,7.5L-0.33,0H8.33z" min-width="9" min-height="8" fill="#000000"></path>
            </svg>
            Fields
        </th>
        <th>
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" min-height="7" min-width="9">
                <path d="M8.33,0L4,7.5L-0.33,0H8.33z" min-width="9" min-height="8" fill="#000000"></path>
            </svg>
            Created
        </th>
        <th>
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" min-height="7" min-width="9">
                <path d="M8.33,0L4,7.5L-0.33,0H8.33z" min-width="9" min-height="8" fill="#000000"></path>
            </svg>
            Updated
        </th>
        <th>
            Action
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td>
            <form>
                <input ng-model="model.form.userId" placeholder="owner id" type="text" class="form-control">
            </form>
        </td>
        <td>
            <form>
                <input ng-model="model.form.title" placeholder="title" type="text" class="form-control">
            </form>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td nowrap="">
            <form>
                <button ng-click="model.updateForm(model.form)" class="btn btn-success">
                    <scan class="glyphicon glyphicon-ok"></scan>
                </button>
                <button ng-click="model.addForm(model.form)" href="#" class="btn btn-primary">
                    <scan class="glyphicon glyphicon-plus"></scan>
                </button>
            </form>
        </td>
    </tr>
    <tr ng-repeat="form in model.forms">

        <td><a ng-href="#/forms/{{form._id}}/field">{{form._id}}</a></td>
        <td>{{form.userId}}</td>
        <td>{{form.title}}</td>
        <td>{{form.fields}}</td>
        <td>{{form.created}}</td>
        <td>{{form.updated}}</td>
        <td>
            <form>
                <button ng-click="model.deleteForm(form)" class="btn btn-danger">
                    <scan class="glyphicon glyphicon-remove"></scan>
                </button>
                <button ng-click="model.selectForm($index)" class="btn btn-warning">
                    <scan class="glyphicon glyphicon-pencil"></scan>
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

