<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <table class="table table-striped table-responsive" ng-controller="ManageController">
        <thead>
        <tr>
            <th>
                <svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" min-height="7" min-width="9">
                    <path d="M8.33,0L4,7.5L-0.33,0H8.33z" min-width="9" min-height="8" fill="#000000"></path>
                </svg>
                Title
            </th>
            <th>
                <svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" min-height="7" min-width="9">
                    <path d="M8.33,0L4,7.5L-0.33,0H8.33z" min-width="9" min-height="8" fill="#000000"></path>
                </svg>
                Players
            </th>
            <th>
                <svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" min-height="7" min-width="9">
                    <path d="M8.33,0L4,7.5L-0.33,0H8.33z" min-width="9" min-height="8" fill="#000000"></path>
                </svg>
                Duration
            </th>
            <th>
                <svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" min-height="7" min-width="9">
                    <path d="M8.33,0L4,7.5L-0.33,0H8.33z" min-width="9" min-height="8" fill="#000000"></path>
                </svg>
                Universe
            </th>
            <th>
                Action
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="game in games">
            <td>{{game.title}}</td>
            <td>{{game.players}}</td>
            <td>{{game.duration}}</td>
            <td>{{game.universe}}</td>
            <td>
                <form>
                    <button ng-click="deleteGame(game)" class="btn btn-danger">
                        <scan class="glyphicon glyphicon-remove"></scan>
                    </button>
                    <button ng-click="selectGame($index)" class="btn btn-warning">
                        <scan class="glyphicon glyphicon-pencil"></scan>
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
