<nav class="navbar navbar-default navbar-fixed" ng-controller="HeaderController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="currentUser.role === 'admin'" ng-hide="$location.url() === '/home'">
                    <a ng-show="currentUser.role === 'admin'">
                        <input ng-model="searchText" type="text" class="form-header" placeholder="Search...">
                    </a>
                </li>
                <li ng-hide="$location.url() === '/home'">
                    <a ng-show="currentUser.role === 'admin'" ng-click="search(searchText)" data-toggle="dropdown">
                        <scan class="fa fa-search"></scan>
                    </a>
                </li>
                <li ng-hide="currentUser">
                    <a href="#/register">Register</a></li>
                <li ng-hide="currentUser">
                    <a href="#/login">Login</a></li>
                <li ng-show="currentUser">
                    <a ng-href="#/profile/{{currentUser.username}}">{{currentUser.username}}</a></li>
                <li ng-show="currentUser">
                    <a ng-click="logout()">  Logout </a></li>
                <li ng-show="currentUser.role === 'player'" class="dropdown visible-xs">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/home">Home</a></li>
                        <li><a href="#/profile">Profile</a></li>
                        <li><a href="#/portfolio">Portfolio</a></li>
                        <li><a href="#/trading">Trading</a></li>
                    </ul>
                </li>
                <li ng-show="currentUser.role === 'admin'" class="dropdown visible-xs">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/home">Home</a></li>
                        <li><a href="#/profile">Profile</a></li>
                        <li><a href="#/create">Create a Game</a></li>
                        <li><a href="#/manage">Manage Games</a></li>
                        <li><a href="#/admin/companies">Admin</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
