<h2>Forms</h2>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#/fields">Fields</a></li>
    <li role="presentation" ><a href="#/forms">Forms</a></li>
</ul>

<table class="table table-responsive">
    <thead>
    </thead>
    <tr>
        <th>
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <div class="form">
                    <input type="text" class="form-control" id="firstName" placeholder="First Name">

                </div>
            </div>
        </th>
        <th nowrap="" style="vertical-align:middle">
            <a href="#" class="btn btn-danger">
                <scan class="glyphicon glyphicon-remove"></scan>
            </a>
            <a href="#" class="btn btn-success">
                <scan class="glyphicon glyphicon-ok"></scan>
            </a>
            <a href="#" class="btn btn-primary">
                <scan class="glyphicon glyphicon-plus"></scan>
            </a>
            <a href="#" class="btn btn-info">
                <scan class="glyphicon glyphicon-list"></scan>
            </a>
        </th>
    </tr>
    <tr>
        <th>
            <div class="form-group">
                <label for="lastName">First Name:</label>
                <div class="form">
                    <input type="text" class="form-control" id="lastName" placeholder="Last Name">

                </div>
            </div>
        </th>
        <th style="vertical-align:middle">
            <a href="#" class="btn btn-danger">
                <scan class="glyphicon glyphicon-remove"></scan>
            </a>
            <a href="#" class="btn btn-success">
                <scan class="glyphicon glyphicon-ok"></scan>
            </a>
            <a href="#" class="btn btn-primary">
                <scan class="glyphicon glyphicon-plus"></scan>
            </a>
            <a href="#" class="btn btn-info">
                <scan class="glyphicon glyphicon-list"></scan>
            </a>
        </th>
    </tr>

    <tr>
        <th>
            <div class="form-group">
                <label for="dob">First Name:</label>
                <div class="form">
                    <input type="date" class="form-control" id="dob" placeholder="Select Date">
                </div>
            </div>
        </th>
        <th style="vertical-align:middle">
            <a href="#" class="btn btn-danger">
                <scan class="glyphicon glyphicon-remove"></scan>
            </a>
            <a href="#" class="btn btn-success">
                <scan class="glyphicon glyphicon-ok"></scan>
            </a>
            <a href="#" class="btn btn-primary">
                <scan class="glyphicon glyphicon-plus"></scan>
            </a>
            <a href="#" class="btn btn-info">
                <scan class="glyphicon glyphicon-list"></scan>
            </a>
        </th>
    </tr>
    <tr>
        <th>
            <div class="form-group">
                <label for="browsers">First Name:</label>
                <div class="form">
                    <input list="browsers"  class="form-control" placeholder="Select Gender">
                    <datalist id="browsers">
                        <option value="Male">
                        <option value="Female">
                    </datalist>
                </div>
            </div>
        </th>
        <th style="vertical-align:middle">
            <a href="#" class="btn btn-danger">
                <scan class="glyphicon glyphicon-remove"></scan>
            </a>
            <a href="#" class="btn btn-success">
                <scan class="glyphicon glyphicon-ok"></scan>
            </a>
            <a href="#" class="btn btn-primary">
                <scan class="glyphicon glyphicon-plus"></scan>
            </a>
            <a href="#" class="btn btn-info">
                <scan class="glyphicon glyphicon-list"></scan>
            </a>
        </th>
    </tr>

    <tr>
        <th>
            <div class="form-group">
                <label for="role"> Roles:</label>
                <form method="post">
                    <fieldset>
                        <input id="role" type="checkbox" name="animal" value="Admin" />Admin <br />
                        <input type="checkbox" name="animal" value="Student" />Student<br />
                        <input type="checkbox" name="animal" value="User" />User<br />
                    </fieldset>
                </form>
            </div>
        </th>
        <th style="vertical-align:middle">
            <a href="#" class="btn btn-danger">
                <scan class="glyphicon glyphicon-remove"></scan>
            </a>
            <a href="#" class="btn btn-success">
                <scan class="glyphicon glyphicon-ok"></scan>
            </a>
            <a href="#" class="btn btn-primary">
                <scan class="glyphicon glyphicon-plus"></scan>
            </a>
            <a href="#" class="btn btn-info">
                <scan class="glyphicon glyphicon-list"></scan>
            </a>
        </th>
    </tr>

    <tr>
        <th>
            <div class="form-group">
                <label for="license"> License Agreement:</label>
                <form method="post">
                    <fieldset>
                        <input id="license" type="radio" name="choice"/> Yes <br />
                        <input type="radio" name="choice"/> No <br />
                    </fieldset>
                </form>
            </div>
        </th>
        <th style="vertical-align:middle">
            <a href="#" class="btn btn-danger">
                <scan class="glyphicon glyphicon-remove"></scan>
            </a>
            <a href="#" class="btn btn-success">
                <scan class="glyphicon glyphicon-ok"></scan>
            </a>
            <a href="#" class="btn btn-primary">
                <scan class="glyphicon glyphicon-plus"></scan>
            </a>
            <a href="#" class="btn btn-info">
                <scan class="glyphicon glyphicon-list"></scan>
            </a>
        </th>
    </tr>

    <tr>
        <th>
            <div class="form-group">
                <label for="fields"> Add New Field:</label>
                <form>
                    <input list="fields"  class="form-control" placeholder="Single Line Text">
                    <datalist id="fields">
                        <option value="Single Line Text">
                        <option value="Long Line Text">
                    </datalist>
                </form>
            </div>
        </th>
        <th style="vertical-align:middle">
            <a href="#" class="btn btn-success">
                <scan class="glyphicon glyphicon-plus"></scan>
            </a>
        </th>
    </tr>
</table>