<h2>Forms</h2>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="#/fields">Fields</a></li>
    <li role="presentation" class="active"><a href="#/forms">Forms</a></li>
</ul>
<table class="table table-striped">
    <thead>
    <tr>
        <th>
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" min-height="7" min-width="9">
                <path d="M8.33,0L4,7.5L-0.33,0H8.33z" min-width="9" min-height="8" fill="#000000"></path>
            </svg>
            Form Name
        </th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <form action="fields.view.html">
                <input ng-model="form.name" placeholder="name" type="text" class="form-control">
            </form>
        </td>
        <td nowrap="">
            <form action="fields.view.html">
                <a ng-click="updateForm(form)" href="#" class="btn btn-success">
                    <scan class="glyphicon glyphicon-ok"></scan>
                </a>
                <a ng-click="addForm(form)" href="#" class="btn btn-primary">
                    <scan class="glyphicon glyphicon-plus"></scan>
                </a>
            </form>
        </td>
    </tr>
    <tr ng-repeat="form in something">
        <td>{{form.name}}</td>
        <td>
            <form action="fields.view.html">
                <a ng-click="deleteForm($index)" href="#" class="btn btn-danger">
                    <scan class="glyphicon glyphicon-remove"></scan>
                </a>
                <a ng-click="selectForm($index)" href="#" class="btn btn-warning">
                    <scan class="glyphicon glyphicon-pencil"></scan>
                </a>
            </form>
        </td>
    </tr>
    </tbody>
</table>