<h2>Forms</h2>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="#/fields">Fields</a></li>
    <li role="presentation" class="active"><a href="#/forms">Forms</a></li>
</ul>
<table class="table table-striped" ng-controller="FormsController">
    <thead>
    <tr>
        <th>
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" min-height="7" min-width="9">
                <path d="M8.33,0L4,7.5L-0.33,0H8.33z" min-width="9" min-height="8" fill="#000000"></path>
            </svg>
            Form Name
        </th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <form>
                <input ng-model="form.title" placeholder="name" type="text" class="form-control">
            </form>
        </td>
        <td nowrap="">
            <form>
                <button ng-click="updateForm(form)" class="btn btn-success">
                    <scan class="glyphicon glyphicon-ok"></scan>
                </button>
                <button ng-click="addForm(form)" class="btn btn-primary">
                    <scan class="glyphicon glyphicon-plus"></scan>
                </button>
            </form>
        </td>
    </tr>
    <tr ng-repeat="form in form">
        <td>{{form.title}}</td>
        <td>
            <form>
                <button ng-click="deleteForm(form)" class="btn btn-danger">
                    <scan class="glyphicon glyphicon-remove"></scan>
                </button>
                <button ng-click="selectForm(form.$index)" class="btn btn-warning">
                    <scan class="glyphicon glyphicon-pencil"></scan>
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>