<h2>Sales Margins & Turns</h2>
<ul class="nav nav-tabs">
    <li role="presentation" ><a ng-href="#/companies/{{model.company_data._id}}">Summary</a></li>
    <li role="presentation" class="active"><a ng-href="#/companies/{{model.company_data._id}}/smt">SMT</a></li>
    <li role="presentation" ><a ng-href="#/companies/{{model.company_data._id}}/valuation">Valuation</a></li>
    <li role="presentation" ><a ng-href="#/companies/{{model.company_data._id}}/momentum">Momentum</a></li>
    <li role="presentation" ><a ng-href="#/companies/{{model.company_data._id}}/reports">Reports</a></li>
</ul>

<div class="container-fluid" ng-controller="SmtController">
    <div class="row">
        <div class="col-md-2">
            <h2>{{model.company_data._id}}</h2>
        </div>
        <div class="col-md-2">
            <br>
            <button type="submit" ng-click="trade()" class="btn btn-success">Trade this company</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <label for="roicChart">Return on Invested Capital:</label>
            <canvas id="roicChart" height="40%" width="100%"></canvas>
        </div>
        <div class="col-md-6">
            <label for="salesChart">Revenue Growth:</label>
            <canvas id="salesChart" height="40%" width="100%"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-md-6">
                <label for="growthChart">Real Asset Growth Rate:</label>
                <canvas id="growthChart" height="40%" width="100%"></canvas>
        </div>
            <div class="col-md-6">
                <label for="marginsChart">EBITDA Margins:</label>
                <canvas id="marginsChart" height="40%" width="100%"></canvas>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <label for="turnsChart">Asset Turns:</label>
            <canvas id="turnsChart" height="40%" width="100%"></canvas>
        </div>
    </div>
</div>