<div ng-controller="SidebarController" ng-hide="$location.url() === '/home'">
    <div class="sidebar" data-color="dark-green" data-image="assets/img/sidebar-5.jpg">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a ng-click="logout()" class="simple-text">
                    Simuly
                </a>
            </div>
            <ul class="nav">
                <li ng-show="currentUser"
                    ng-class="{'active' : $location.url().indexOf('profile') != -1}">
                    <a href="#/profile/{{currentUser.username}}">Profile</a>
                </li>
                <li ng-show="register === true"
                    ng-class="{'active' : $location.url().indexOf('game/registration') != -1}">
                    <a href="#/game/registration">Register for Another Game</a>
                </li>
                <li ng-show="currentUser.role === 'player'"
                    ng-class="{'active' : $location.url().indexOf('portfolio') != -1}">
                    <a href="#/portfolio">Portfolio</a>
                </li>
                <li ng-show="currentUser.role === 'player'"
                    ng-class="{'active' : $location.url().indexOf('trading') != -1}">
                    <a href="#/trading">Trading</a>
                </li>
                <li ng-show="currentUser.role === 'admin'"
                    ng-class="{'active' : $location.url().indexOf('manage') != -1}">
                    <a href="#/manage">Manage Games</a>
                </li>
                <li ng-show="currentUser.role === 'admin'"
                    ng-class="{'active' : $location.url().indexOf('admin') != -1}">
                    <a href="#/admin/users">Admin</a>
                </li>
                <li ng-show="currentUser.role === 'player'"
                    ng-class="{'active' : $location.url().indexOf('ranking') != -1}">
                    <a href="#/ranking/{{currentUser.username}}">Ranking</a>
                </li>
            </ul>
        </div>
    </div>
</div>