<div class="container-fluid" ng-controller="CompanyController">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">
                        {{model.generated_name}}'s Summary:
                        <button type="submit" ng-click="model.trade(model.generated_name)" class="btn btn-success">Trade this company</button>
                    </h4>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="card">
                                <div class="header">
                                    <h6 class="title">Return on Invested Capital:</h6>
                                </div>
                                <div class="content">
                                    <div id="roicChart" style="width: 100%; height: 180px;" ></div>
                                </div>
                                <div class="header">
                                    <h6 class="title">Real Asset Growth Rate:</h6>
                                </div>
                                <div class="content">
                                    <div id="growthChart" style="width: 100%; height: 180px;" ></div>
                                </div>
                                <div class="header">
                                    <h6 class="title">Historical Prices:</h6>
                                </div>
                                <div class="content">
                                    <div id="pricesChart" style="width: 100%; height: 150px;" ></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="card">
                                <div class="header">
                                    <h6 class="title">Summary:</h6>
                                </div>
                                <div class="content">
                                    <table class="table table-striped table-responsive">
                                        <thead><tr></tr></thead>
                                        <tbody>
                                        <tr>
                                            <td>Market Cap</td>
                                            <td>${{model.market_cap_turn  | number:0}} mn</td>
                                        </tr>
                                        <tr>
                                            <td>Sub-Industry</td>
                                            <td>{{model.company_data.sub_industry}}</td>
                                        </tr>
                                        <tr>
                                            <td>Current Price</td>
                                            <td>${{model.current_price_turn  | number:2}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="header">
                                    <h6 class="title">Risk:</h6>
                                </div>
                                <div class="content">
                                    <table class="table table-striped table-responsive">
                                        <thead><tr></tr></thead>
                                        <tbody>
                                        <tr>
                                            <td>Probability of Default</td>
                                            <td>{{model.pod_turn}}%</td>
                                        </tr>
                                        <tr>
                                            <td>Economic Leverage</td>
                                            <td>{{model.economic_leverage_turn}}</td>
                                        </tr>
                                        <tr>
                                            <td>90 Days Volatility</td>
                                            <td>{{model._90_day_volatility_turn}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="header">
                                    <h6 class="title">
                                        Valuation Highlights:
                                    </h6>
                                </div>
                                <div class="content">
                                    <table id="valuation" class="table table-striped table-responsive">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Current Turn</th>
                                            <th>Turn - 1</th>
                                            <th>Turn - 2</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>P/E</td>
                                            <td>{{model.p_e_turn | number:2}}x</td>
                                            <td>{{model.company_data.p_e[model.turn - 1] | number:2}}x</td>
                                            <td>{{model.company_data.p_e[model.turn - 2] | number:2}}x</td>
                                        </tr>
                                        <tr>
                                            <td>P/B</td>
                                            <td>{{model.p_b_turn | number:2}}x</td>
                                            <td>{{model.company_data.p_b[model.turn - 1] | number:2}}x</td>
                                            <td>{{model.company_data.p_b[model.turn - 2] | number:2}}x</td>
                                        </tr>
                                        <tr>
                                            <td>P/S</td>
                                            <td>{{model.p_s_turn}}x</td>
                                            <td>{{model.company_data.p_s[model.turn - 1] | number:2}}x</td>
                                            <td>{{model.company_data.p_s[model.turn - 2] | number:2}}x</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
