<ul class="nav nav-tabs">
    <li role="presentation" ><a ng-href="#/companies/{{model.generated_name}}/{{model.turn}}">Summary</a></li>
    <li role="presentation" ><a ng-href="#/companies/{{model.generated_name}}/{{model.turn}}/smt">SMT</a></li>
    <li role="presentation" ><a ng-href="#/companies/{{model.generated_name}}/{{model.turn}}/valuation">Valuation</a></li>
    <li role="presentation" class="active"><a ng-href="#/companies/{{model.generated_name}}/{{model.turn}}/momentum">Momentum</a></li>
    <li role="presentation" ><a ng-href="#/companies/{{model.generated_name}}/{{model.turn}}/reports">Reports</a></li>
</ul>
<div class="container-fluid" ng-controller="MomentumController">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="header">
                    <h3 class="title">
                        {{model.generated_name}}'s Summary:
                        <button type="submit" ng-click="trade()" class="btn btn-success">Trade this company</button>
                    </h3>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="card">
                                <div class="header">
                                    <h5 class="title">Price Earnings Ratio:</h5>
                                </div>
                                <div class="content">
                                    <canvas id="priceChart" height="40%" width="100%"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
