<div class="section section-header">
    <div class="parallax pattern-image">
        <img src="/images/canos.jpg"/>
        <div class="container">
            <div class="content">
                <h1>StatQuant</h1>
                <div class="card add-animation animation-1">
                    <div class="icon">
                        <i class="pe-7s-tools"></i>
                    </div>
                    <h4>Log in to get started</h4>
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="username">Log in to get started</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="username" placeholder="username">
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control" id="password" placeholder="password">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-warning">Submit</button>
                        <br/>
                        <p>Don't have an account? Sign up <a href="" class="btn btn-warning">here</a></p>

                    </form>
                </div>
                <div class="separator-container">
                    <div class="separator line-separator">∎</div>
                </div>
            </div>
        </div>
    </div>
    <a href="" data-scroll="true" data-id="#whoWeAre" class="scroll-arrow hidden-xs hidden-sm">
        <i class="fa fa-angle-down"></i>
    </a>
</div>
<div class="section section-we-are-1" id="whoWeAre">
    <div class="text-area">
        <div class="container">
            <div class="row">
                <div class="title" id="animationTest">
                    <h2>About StatQuant</h2>
                    <div class="separator-container">
                        <div class="separator line-separator">∎</div>
                    </div>
                    <p class="large">
                        <b>StatQuant</b> flexible platform provides an objective view of over 20,000
                        companies worldwide. Our rigorous methodology examines accounting information,
                        converts it to cash and then values that cash, allowing you to identify key
                        drivers of value that others miss.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-we-do-2" id="workflow">
    <div class="container">
        <div class="row">
            <div class="title add-animation">
                <h2>How do we improve investing?</h2>
                <div class="separator-container">
                    <div class="separator line-separator">∎</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card add-animation animation-1">
                    <div class="icon">
                        <i class="pe-7s-tools"></i>
                    </div>
                    <h3>Assessing Corporate Performance</h3>
                    <p>helps investors quickly assess which category a company belongs by measuring a firm’s return on investment, orCFROI® level, and then charting it clearly against the firm’s cost of capital. The resulting spread is positive, negative or neutral.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card add-animation animation-2">
                    <div class="icon">
                        <i class="pe-7s-gift"></i>
                    </div>
                    <h3>Generating New Investment Ideas</h3>
                    <p>offers a wealth of fresh ideas for investing. Our platform aggregates information to let you screen and score potential investments</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card add-animation animation-3">
                    <div class="icon">
                        <i class="pe-7s-rocket"></i>
                    </div>
                    <h3>Evaluating Current Investments</h3>
                    <p>Besides offering fresh investment ideas, StatQuant can help you objectively view your existing portfolio. This unique perspective will help you scan your holdings for accounting risks or for holdings that have high or low expectations.</p>
                </div>
            </div>
        </div>
    </div>
</div>