<h1 class="page-header">Welcome to Simuly!</h1>
<p>As of late, stock market investors are faced with a plethora of free, but shallow, real-time simulation tools to
    practice equity investments. Websites like StockTrak and Market-Watch Game allow users to compete against each
    other in order for the highest investment return within the specified time frame. This type of stock trading
    simulation is primarily used by college and high-school students that wants to gain investment experience without
    having to risk any money. While the simulation games do provide a valuable experience to users there is an
    unintended consequence from the way they are designed. In order to finish among the top players, users have the
    incentive to invest all of their money in risky stocks. This sort of incentive dilemma leads to reckless behavior,
    where generally the user that took the most risk, and was lucky enough to be in the right side of the bet, wins the
    investment game.
</p>
<p>An alternative way to minimize this sort of conflict of incentives, is to make a non-real-time stock simulation game
    where both the names of the companies, and the date of trading is hidden from users. When accessing this alternative
    simulation users are faced with a multitude of investment choices that do not show their real name (ie. Apple Inc.
    would be converted to Goosly Corp.), furthermore since the game does not track real time trading users can experience
    years of investing within one seating of the game. The idea is that this sort of game will teach users valuable
    lessons when it come to long-term investing without any time relative biases or short term trading mania.
</p>


